/*
  frame
*/
body {
  margin: 0;
  overflow: hidden; }

nav {
  display: flex;
  transition: box-shadow 0.25s; }

.nav-btn {
  font-family: Meiryo UI;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  border-bottom: thick solid rgba(0, 0, 0, 0);
  user-select: none; }

#nav-marks {
  border-bottom: thick solid rgba(0, 0, 0, 0.5); }

.crop {
  overflow: hidden; }

#slider {
  position: relative;
  transform: translateX(-100%); }

#slider-auto {
  background-color: rgba(255, 0, 0, 0.5);
  position: relative; }

#slider-marks {
  position: absolute;
  top: 0;
  overflow: auto; }

#slider-seek {
  height: 100%;
  background: linear-gradient(0deg, #f2f2f2, transparent);
  border-top: thin solid black;
  position: absolute;
  top: 0; }

/*
  slider-marks
*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: thin solid #555;
  position: relative; }

tr {
  transition: all 0.5s; }

th, td {
  padding: 0.5rem 0.5rem;
  border: thin solid #555;
  overflow: hidden; }

thead th:nth-child(1) {
  width: 15%; }

thead th:nth-child(2) {
  width: 10%; }

thead th:nth-child(3) {
  width: 10%; }

thead th:nth-child(4) {
  width: 3%; }

thead th:nth-child(5) {
  width: 37%; }

thead th:nth-child(6) {
  padding: 0.5rem 0rem;
  width: 5%; }

thead th:nth-child(7) {
  padding: 0.5rem 0rem;
  width: 5%; }

thead th:nth-child(8) {
  width: 10%; }

thead th:nth-child(9) {
  padding: 0.5rem 0rem;
  width: 5%; }

tbody tr:hover {
  background-color: #ddd; }

tr td:nth-child(4) {
  text-align: right; }

tr td:nth-child(6) {
  padding: 0.5rem 0rem;
  text-align: center; }

tr td:nth-child(7) {
  padding: 0.5rem 0rem;
  text-align: center; }

tr td:nth-child(8) {
  text-align: center; }

tr td:nth-child(9) {
  padding: 0.5rem 0rem;
  text-align: center; }

/*
  slider-seek
*/
.slider-seek-form-wrapper {
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 1rem 1.25rem;
  width: 57.5%;
  background: linear-gradient(#fff, #fff) content-box, linear-gradient(#fcfcfc, #fcfcfc) padding-box;
  border: thin solid #cccccc;
  border-left: 0;
  border-radius: 1.5rem;
  position: relative;
  left: 21.25%;
  overflow: hidden; }
  .slider-seek-form-wrapper:after {
    content: '';
    display: inline-block;
    width: 0.25rem;
    height: 100%;
    background: linear-gradient(0deg, #3b6b69 0%, #07a88e 56%, #00d4ff 100%);
    position: absolute;
    top: 0;
    left: 0; }

#slider-seek-form {
  box-sizing: border-box;
  padding: 2.5rem;
  padding-bottom: 3.5rem;
  width: 100%;
  background: white;
  border: thin dashed #cccccc;
  border-radius: 1rem;
  position: relative; }
  #slider-seek-form span {
    font-weight: bold;
    color: #4d4d4d; }
  #slider-seek-form #slider-seek-url {
    width: 100%; }
    #slider-seek-form #slider-seek-url span {
      padding-right: 0.75rem; }
    #slider-seek-form #slider-seek-url input {
      padding-left: 0.5rem;
      color: #404040;
      width: 70%;
      height: 2rem;
      background: #f2f2f2;
      border: 0;
      border-radius: 0.75rem; }
  #slider-seek-form #slider-seek-range {
    margin-top: 3.25rem; }
    #slider-seek-form #slider-seek-range #slider-seek-slider {
      margin-bottom: 0.5rem;
      width: 70%; }

.title {
  margin-top: -0.5rem;
  margin-left: -2.5rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 1.5rem;
  border-bottom: thin solid #00d4ff; }
  .title h2 {
    float: right;
    font-family: Century Gothic;
    font-weight: normal;
    margin: 0;
    margin-right: 0.5rem;
    padding: 0; }

#slider-seek-form-extra {
  box-sizing: border-box;
  width: 10rem;
  height: 4rem;
  opacity: 0; }

.slider-seek-result-wrapper {
  box-sizing: border-box;
  width: 45%;
  position: relative;
  left: 27.5%; }

#slider-seek-result {
  display: flex;
  padding: 1.75rem 1.75rem;
  padding-right: 30%;
  padding-bottom: 3.5rem;
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  border-radius: 0.5rem; }
  #slider-seek-result .wrapper {
    flex-grow: 100;
    cursor: pointer; }
    #slider-seek-result .wrapper #slider-seek-cells {
      display: flex;
      min-height: 0.2rem;
      background-color: rgba(0, 0, 0, 0.2);
      overflow: hidden; }
    #slider-seek-result .wrapper #slider-seek-cells span {
      flex-grow: 1;
      height: 0.2rem;
      background: gray;
      transition: background 1s; }
    #slider-seek-result .wrapper #slider-seek-pages {
      box-sizing: content-box;
      min-height: 2rem;
      background: #f2f2f2; }
    #slider-seek-result .wrapper #slider-seek-pages a {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      margin: 0.2rem;
      padding: 0.3rem;
      width: 1rem;
      height: 1rem;
      background: #ffff80;
      opacity: 0;
      transition: opacity 0.5s; }
      #slider-seek-result .wrapper #slider-seek-pages a:first-child {
        margin-left: 0.3rem; }
    #slider-seek-result .wrapper input {
      margin-top: 0.4rem; }

#slider-seek-result-cancel .shape {
  margin: 0;
  width: 0;
  height: 0;
  position: relative;
  transition: margin 0.5s, width 0.5s, height 0.5s; }
  #slider-seek-result-cancel .shape span {
    display: inline-block;
    width: 1.5rem;
    height: 0.125rem;
    background: linear-gradient(#0d0d0d, #0d0d0d);
    background-position: -1.5rem 0;
    background-repeat: no-repeat;
    position: absolute;
    transform-origin: 0 50%;
    transition: background-position 0.5s, transform 0.5s; }
#slider-seek-result-cancel .shape-2 span {
  top: 1.0608203678rem; }

#slider-seek-result-cancel {
  flex-grow: 0.001;
  cursor: pointer; }
  #slider-seek-result-cancel .shape--appear {
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem; }
    #slider-seek-result-cancel .shape--appear span {
      background-position: 0 0; }
    #slider-seek-result-cancel .shape--appear:first-child span {
      transform: rotate(45deg); }
    #slider-seek-result-cancel .shape--appear:last-child {
      margin-top: -2rem; }
      #slider-seek-result-cancel .shape--appear:last-child span {
        transform: rotate(-45deg); }

/*# sourceMappingURL=options.css.map */
