
/*
  frame
*/
body {
  margin: 0;
  overflow: hidden;
}

nav {
  display: flex;
}

.nav-btn {
  font-family: Meiryo UI;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  border-bottom: thick solid rgba(0, 0, 0, 0);
  user-select: none;
}

#nav-marks {
  border-bottom: thick solid rgba(0, 0, 0, 0.5);
}

.crop {
  overflow: hidden;
}

#slider {
  position: relative;
  transform: translateX(-100%);
}

#slider-auto {
  background-color: rgba(255, 0, 0, 0.5);
  position: relative;
}

#slider-marks {
  position: absolute;
  top: 0;
  overflow: auto;
}

#slider-seek {
  border-top: thin solid rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
}

/*
  slider-marks
*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: thin solid #555;
  position: relative;
}

tr {
  transition: all 0.5s;
}

th, td {
  padding: 0.5rem 0.5rem;
  border: thin solid #555;
  overflow: hidden;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 3%;
}

thead th:nth-child(5) {
  width: 37%;
}

thead th:nth-child(6) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(7) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(8) {
  width: 10%;
}

thead th:nth-child(9) {
  padding: 0.5rem 0rem;
  width: 5%;
}

tbody tr:hover {
  background-color: #ddd;
}

tr td:nth-child(4) {
  text-align: right;
}

tr td:nth-child(6) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(7) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(8) {
  text-align: center;
}

tr td:nth-child(9) {
  padding: 0.5rem 0rem;
  text-align: center;
}

/*
  slider-seek
*/
$form-width: 0.98;
#slider-seek-form {
  box-sizing: border-box;
  margin: 1rem 0 1.25rem 0;
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  width: percentage($form-width);
  border: thin solid hsl(0, 0%, 75%);
  border-left: 0;
  position: relative;
  left: percentage((1 - $form-width) / 2);

  &:before {
    content: '';
    display: inline-block;
    width: 0.25rem;
    height: 100%;
    background: linear-gradient(0deg, rgba(59,107,105,1) 0%, rgba(7,168,142,1) 56%, rgba(0,212,255,1) 100%);
    position: absolute;
    top: -1px;
    left: -0.25rem;
  }

  &:after {
    content: '';
    display: inline-block;
    margin-top: -1px;
    width: 0.25rem;
    height: 2px;
    background: rgba(59,107,105,1);
    position: absolute;
    top: 100%;
    left: -0.25rem;
  }

  span {
    font-weight: bold;
    color: hsl(0, 0%, 30%);
  }

  #slider-seek-url {
    width: 100%;

    span {
      padding-right: 0.75rem;
    }

    input {
      padding-left: 0.5rem;
      color: hsl(0, 0, 25%);
      width: 60%;
      height: 2rem;
    }
  }

  #slider-seek-range {
    margin-top: 2rem;

    #slider-seek-slider {
      margin-bottom: 0.5rem;
      width: 60%;
    }
  }
}

$button-left: 5rem;
$button-width: 12rem;
#slider-seek-operate {
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: thin solid hsl(0, 0, 40%);
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    width: $button-left;
    border-top: thin dashed hsl(0, 0, 60%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    display: inline-block;
    margin-top: -1rem;
    width: 100%;
    border-bottom: thin dashed hsl(0, 0, 60%);
    position: absolute;
    top: 100%;
    left: ($button-left + $button-width);
  }
}

$chamfer: 0.06;
$chf-tl: percentage($chamfer);
$chf-br: percentage(1 - $chamfer);
#slider-seek-btn-seek {
  font-family: Meiryo UI;
  letter-spacing: 3px;
  font-size: 0.8rem;
  line-height: 2.1;
  color: hsl(0, 0, 30%);
  font-weight: bold;
  text-align: center;
  margin-left: $button-left;
  width: $button-width;
  background: linear-gradient(-45deg, transparent 50%, #48929B 50%, transparent 55%), linear-gradient(hsl(0, 0%, 80%), hsl(0, 0%, 80%));
  background-position: (-3 * $button-width) (-0.5 * $button-width), 0 0;
  background-size: 300% 300%, 100% 100%;
  background-repeat: no-repeat, repeat;
  cursor: pointer;
  transition: background-position 2.25s;
  -webkit-mask: linear-gradient(135deg, transparent $chf-tl, black $chf-tl, black $chf-br, transparent $chf-br);

  &:active {
    opacity: 0.8;
  }
  &:hover {
    box-shadow: 0 0 1.5rem 0.05rem hsl(0, 0, 75%) inset;
    // opacity
  }
}
#slider-seek-operate .slider-seek-btn-seek--clicked {
  background-position: (3 * $button-width) (0.5 * $button-width), 0 0;
}

#slider-seek-result {
  display: flex;
  padding: 1rem 0.6rem;
  width: 60%;

  .wrapper {
    flex-grow: 100;

    #slider-seek-cells {
      display: flex;
      min-height: 0.2rem;
      background-color: rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }

    #slider-seek-cells span {
      flex-grow: 1;
      height: 0.2rem;
      background-color: #48929B;
    }

    #slider-seek-pages {
      box-sizing: content-box;
      min-height: 2rem;
      border: thin solid hsl(0, 0, 30%);
    }

    #slider-seek-pages a {
      display: inline-block;
      text-align: center;
      margin: 0.2rem;
      padding: 0.1rem;
      width: 1rem;
      height: 1rem;
      border: medium solid hsl(60, 100%, 40%);
      opacity: 0;
      transition: opacity 0.75s;

      &:first-child {
        margin-left: 0.3rem;
      }
    }

    input {
      margin-top: 0.4rem;
    }
  }
}
$bar-height: 0.125rem;
$bar-width: $bar-height * 12;
#slider-seek-result-cancel {
  .shape {
    margin: 0;
    width: 0;
    height: 0;
    position: relative;
    transition: margin 0.5s, width 0.5s, height 0.5s;

    span {
      display: inline-block;
      width: $bar-width;
      height: $bar-height;
      background: linear-gradient(hsl(0, 0, 25%), hsl(0, 0, 25%));
      background-position: -$bar-width 0;
      background-repeat: no-repeat;
      position: absolute;
      transform-origin: 0 50%;
      transition: background-position 0.5s, transform 0.5s;
    }
  }
  .shape-2 {
    span {
      top: ($bar-width / 1.414);
    }
  }
}
#slider-seek-result-cancel {
  flex-grow: 0.001;
  cursor: pointer;

  .shape--appear {
    margin: 0.5rem;
    width: $bar-width;
    height: $bar-width;

    span {
      background-position: 0 0;
    }
    &:first-child {
      span {
        transform: rotate(45deg);
      }
    }
    &:last-child {
      margin-top: -($bar-width + 0.5rem);

      span {
        transform: rotate(-45deg);
      }
    }
  }
}
