
body {
  width: 90rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: thin solid #555;
}

th, td {
  padding: 0.5rem 0.5rem;
  border: thin solid #555;
  overflow: hidden;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 40%;
}

thead th:nth-child(4) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(5) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(6) {
  width: 10%;
}

thead th:nth-child(7) {
  padding: 0.5rem 0rem;
  width: 5%;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

tr td:nth-child(4) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(5) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(6) {
  text-align: center;
}

tr td:nth-child(7) {
  padding: 0.5rem 0rem;
  text-align: center;
}
