
/*
  frame
*/
body {
  margin: 0;
  overflow: hidden;
}

nav {
  display: flex;
}

.nav-btn {
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  border-bottom: thick solid rgba(0, 0, 0, 0);
  user-select: none;
}

#nav-marks {
  border-bottom: thick solid rgba(0, 0, 0, 0.5);
}

.crop {
  overflow: hidden;
}

#slider {
  position: relative;
  transform: translateX(-100%);
}

#slider-auto {
  background-color: rgba(255, 0, 0, 0.5);
  position: relative;
}

#slider-marks {
  position: absolute;
  top: 0;
  overflow: auto;
}

#slider-seek {
  border-top: thin solid rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
}

/*
  slider-marks
*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: thin solid #555;
  position: relative;
  z-index: 0;
}

th, td {
  padding: 0.5rem 0.5rem;
  border: thin solid #555;
  overflow: hidden;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 3%;
}

thead th:nth-child(5) {
  width: 37%;
}

thead th:nth-child(6) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(7) {
  padding: 0.5rem 0rem;
  width: 5%;
}

thead th:nth-child(8) {
  width: 10%;
}

thead th:nth-child(9) {
  padding: 0.5rem 0rem;
  width: 5%;
}

tbody tr:hover {
  background-color: #ddd;
}

tr td:nth-child(4) {
  text-align: right;
}

tr td:nth-child(6) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(7) {
  padding: 0.5rem 0rem;
  text-align: center;
}

tr td:nth-child(8) {
  text-align: center;
}

tr td:nth-child(9) {
  padding: 0.5rem 0rem;
  text-align: center;
}

/*
  sliders-shared
*/
form {
  margin-left: 1rem;
  width: 80%;
}

.input-text {
  margin: 1rem 0;
  width: 100%;
}

.input-text span {
  padding: 0.6rem;
  border-left: thick solid rgba(0, 0, 0, 0.6);
}

.input-text input {
  width: 80%;
  height: 2rem;
}

.div-btn {
  line-height: 2;
  text-align: center;
  cursor: pointer;
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
  slider-seek
*/
#slider-seek-range {
  margin: 1rem 0;
  padding: 0.5rem 0 0 0.6rem;
  border-left: thick solid rgba(0, 0, 0, 0.6);
}

#slider-seek-slider {
  margin-bottom: 0.5rem;
  width: 80%;
}

#slider-seek-result {
  margin: 1rem;
  border-left: thick solid rgba(0, 255, 0, 0.6);
}

#slider-seek-cells {
  margin: 0 0.6rem;
  width: 60%;
  min-height: 0.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

#slider-seek-cells span {
  flex-grow: 1;
  height: 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#slider-seek-pages {
  margin: 0 0.6rem;
  width: 60%;
  min-height: 2rem;
  border: thin solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

#slider-seek-pages a {
  text-align: center;
  margin: 0.2rem;
  padding: 0.1rem;
  width: 1rem;
  height: 1rem;
  border: medium solid rgba(0, 0, 0, 0.8);
  display: inline-block;
}

#slider-seek-chk-open {
  margin: 0.4rem 0 0 0.6rem;
}

